<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAo8sjauzFTQTUbiUMKQcws_cRAbCfKK38</string>
	<key>GCM_SENDER_ID</key>
	<string>469981828189</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.gamelibMob</string>
	<key>PROJECT_ID</key>
	<string>gamelistmob</string>
	<key>STORAGE_BUCKET</key>
	<string>gamelistmob.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:469981828189:ios:98a994e88894b96c8aa9b4</string>
</dict>
</plist>